:root{
  --mobileWidth:860px;
  --laptopWidth:1470px;
  --desktopWidth:1920px;

  --basicBackground-color: #242424;
  --darkBackground-color:black;
  --secondColor: rgb(159, 229, 227);

  --home-background-color1:rgb(33, 33, 33);
  --home-background-color2:rgb(30, 30, 30);
  --home-background-color3:rgb(21, 21, 21);


  --experience_mission_background: #1a1a1a;

  --textBasicColor: white;
  --textSecondaryColor: lightgray;
  --textTertiaryColor: var(--cyan-50);
  --textQuaternaryColor: #cfcfcf;
  --textImportant: #ff4040;
  --textImportantHover: #f21d1d;
  
  --buttonShadow: rgb(34, 34, 34);

  --skillDevColor: rgb(10, 106, 116);
  --skillOtherColor: rgb(74, 189, 185);

  --listPaire: var(--gray-500);
  --listImpaire: var(--gray-700);
  --listHeader: black;

  --IconSize: 1.5rem;
  --HeaderSize: 2.5rem;

  --p-tooltip-padding: 5em; /* Ajuste la valeur ici */
  --p-focus-ring-color:black !important;
  --p-dialog-background: #333 !important;  /* Override the design token */
  --p-dialog-border-color: #000 !important; /* Override border color design token */
}

*:not(button, div.p-dialog-content) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  min-width: 900px;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*TODO Page de Projet (Devrait être dans la page de projet directement)*/
input:invalid:not(:placeholder-shown){
  border: 1px solid red;
}

#typeProjetContainer > div  > label{
  margin-left: 10px;
}

#motClesContainer > div > ul input{
  line-height: 1.9
}

#motClesContainer > div > ul{
  padding-left:5px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  height:100vh;
}

h1.default{
  font-size: 3.2em;
  line-height: 1.2;
}

h2.default {
  font-size: 2em !important;
  line-height: 1.1 !important;
}

h3.default {
  font-size: 1.7em !important;
  line-height: 1.1 !important;
}

h4.default {
  font-size: 1.2em !important;
  line-height: 1.1 !important;
}

h5.default {
  font-size: 1em !important;
  line-height: 1.1 !important;
  font-weight:bold !important;
}

p,div,span{
  font-size: 1em !important;
  line-height: 1.5 !important;
}

div#SousTitre, div.textContainer div, h4.formationTitres{
  font-size: 1.3em !important;
  line-height: 1.5 !important;
}

button#blackVariant, button#greenValid, .blackVariant {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  i{
    margin:2px 0 0 15px;
    
  }
}


button#greenValid {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border:1px solid transparent;
}

button#greenValid:hover {
  background-color: #45a049;
  border:1px solid white;
  outline:white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

Button#blackVariant, .blackVariant{
  color: RGB(159, 229, 227);
  background-color:black;
  transition: 0.25s ease-in-out all;
}

Button#blackVariant:hover , .blackVariant:hover{
  background-color:black;
  transition: 0.25s ease-in-out all;
  border:1px solid white;
  color:white;
}

button[autofocus] {
  outline: none;
  margin-right:5px;
}

/* Recaptcha */
.grecaptcha-badge{
  visibility: collapse;
}

/*? Toast */
.p-toast{
  margin:-5px 2px 20px 0px;
  width: 25%;
}

.p-toast-message-icon{
  margin:5px;
}

.p-toast-message-content{
  margin:3px;
}

.p-toast-close-button::content{
  margin-right: 50px !important;
  position: relative !important;
  outline: none !important;
  background: none !important;
  border: none !important;
}

/*? Boite de dialogues */
.p-dialog .p-dialog-content {
  background-color: rgb(36, 36, 36);
  border: 2px solid black;
  color:white;
  padding:1em 5em 1em 5em;
}

.p-dialog .p-dialog-header{
  line-height: 1.5em;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
}

/*? Timeline */
.p-timeline-event {
    min-height: var(--p-timeline-event-min-height);
}

.p-timeline-event-content {
    padding: var(--p-timeline-horizontal-event-content-padding);
}

.p-timeline-event-connector {
    background-color: var(--p-timeline-event-connector-color);
    width: var(--p-timeline-event-connector-size);
}

.p-timeline-event-marker {
    width: var(--p-timeline-event-marker-size);
    height: var(--p-timeline-event-marker-size);
    background-color: var(--p-timeline-event-marker-background);
    border-radius: var(--p-timeline-event-marker-border-radius);
}

/*? Calendrier */
.dateInput .p-datepicker-trigger {
  background-color: black;
  color: lightblue;
  border: none;
}

.dateInput .p-datepicker-trigger:hover {
  color:white;    /* Fond au survol */
  border:1px solid white;               /* Couleur de l'icône au survol */
}

.dateInput input[aria-expanded="true"], .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext{
  outline:1px solid black;
}

/* 2. Survol des mois et des années dans le calendrier */
.p-datepicker-calendar .p-datepicker-month:hover,
.p-datepicker-calendar .p-datepicker-year:hover {
  background-color: lightblue;
  color: black;
}

/*? Checkboxes */
.p-checkbox.p-highlight .p-checkbox-box {
  background:black;
  border-color:black;
  color:var(--secondColor) !important;
}

.p-checkbox.p-highlight .p-checkbox-box {
  color:var(--secondColor) !important;
}


@media screen and (max-width: 860px) {

  h1 {
    font-size: 4rem !important;
    line-height: 1.2;
  }
  
  h2 {
    font-size: 3rem !important;
    line-height: 1.1 !important;
  }
  
  h3 {
    font-size: 2.3rem !important;
    line-height: 1.1 !important;
  }
  
  h4 {
    font-size: 2rem !important;
    line-height: 1.1 !important;
  }
  
  h5 {
    font-size: 1.7rem !important;
    line-height: 1.1 !important;
    font-weight:bold !important;
  }

  .p-toast{
    width: 90vw !important;
  }

  select#sort.blackVariant{
    font-size:1.5rem;
    height:100%;
  }

  Button,button, select, .sort-filter label{
    font-size: 1.5rem !important;

    i:not(#buttonTranslateIcon){
      font-size: 1.5rem !important;
    }
  }
  
  :root{
    --IconSize: 2rem;
    --HeaderSize: 3rem !important;
  }
}

/* Reset CSS */
@layer reset {
  button {
    outline:none
  }
 
}

/* Order */
@layer reset, primevue;
